.page-template-landing-page-linktree{
 section.tbd-hero.simple{
  max-width: 900px;
  margin: 0 auto;
  padding-top: 13.75rem;
  padding-bottom: 5rem;
  .button-row{
   justify-content: center;
  }
 }
 section.linktree{
  display: flex;
  flex-direction: column;
  align-items: center;
  a.button{
   @include button;
   margin: 1rem auto;
  }
 }
}