section.tbd-subscribe-cta{
    @include introSection;
    //background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0.48) 60%, #111111 100%);
    .inner{
        @include center;
        align-items: center;
        display: flex;
        flex-direction: row;
        @include tablet{
            flex-direction: column;
        }
        .content{
            flex: 0 0 50%;
            padding-right: 3.75rem;
            max-width: calc(50% - 3.75rem);
            @include tablet{
                padding-right: unset;
                max-width: 100%;
            }
            h2{
                margin-bottom: 0.5rem;
            }
        }
        div.image{
            flex: 0 0 50%;
            max-width: 50%;
            @include tablet{
                max-width: 100%;
            }
            img{
                width: 100%;
            }
        }
        &.form-right{
            justify-content: space-between;
            div.content{
                flex: 0 0 60%;
                padding: 3.75rem 2.5rem 2.5rem 3.75rem;
                position: relative;
            }
            div.image{
                flex: 0 0 40%;
                padding-right: 0px;
                div.form{
                    margin-left: 1.25rem;
                    @include form;
                    margin-bottom: 0;
                    form{
                        max-width: 300px;
                        margin-left: auto;
                        @include phone{
                            margin-top: 3.75rem;
                        }
                    }
                    label.title{
                        display: block;
                        font-family: $font1;
                        font-weight: $bold;
                        font-size: 0.875rem;
                        line-height: 0.875rem;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        margin-bottom: -0.75rem;
                    }
                    span.submit{
                        @include button;
                        position: relative;
                        display: flex;
                        width: 200px;
                        padding: 0.3125rem 6.25rem;
                        margin: 0 auto;
                        z-index: 1;
                        &::after{
                            z-index: 99;
                        }
                        &::before{
                            z-index: 99;
                        }
                    }
                    input{
                        color: $text_color;
                        font-family: $base_font;
                        font-size: $base_font_size;
                        font-weight: 300;
                        line-height: $base_line_height;
                        margin: 0rem 0rem 1rem;
                        position: relative;
                    
                        background: none;
                        border: 1px solid $action2;
                        color: $text_color;
                        padding: 0.625rem;
                        width: 100%;
                        font-size: 1.0625rem;
                        margin: 10px 0;

                        &::placeholder{
                            color: $lightgrey;
                        }
                        &[type="submit"]{
                            appearance: none;
                            border: none;
                            margin: 0 auto;
                            text-align: center;
                            width: 100%;
                            padding: 0.3125rem 6.25rem;
                            z-index: 2;
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            color: transparent;
                        }
                    }
                    .wpcf7-spinner{
                        display: none;
                    }
                    .wpcf7-response-output{
                        border: $action1;
                        font-size: 16px;
                        text-align: center;
                        font-style: italic;
                    }
                }
            }
        }
    }
}