.single-post{
    .page{
        @include tablet{
            background-size: contain;
        }
    }
    .header{
        display: flex;
        justify-content: center;
        padding: 0;
        margin-bottom: 0px;
        margin-top: 7.5rem;
    }
    .blog-header{
        margin: 0.25rem;
        padding: 2rem;
        text-align: center;
        width: 700px;
        .post-categories a{
            font-family: $font1;
            color: $action2;
            font-weight: $bold;
            //font-size: $base_font_size;
            line-height: 21px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
        }
        time{
            font-size: 1rem;
            font-family: $font1;
            font-weight: 500;
        }
    }
    .blog{
        @include center;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include navbreak {
            align-items: center;
            flex-direction: column;
        }
        &.has-sidebar{
            .post-wrap{
                max-width: 745px;
                padding-right: 50px;
                @include navbreak{
                    padding-right: unset;
                }
            }
            .sidebar{
                max-width: 380px;
                .sidebar-wrap{
                    background: rgba(0, 0, 0, 0.4);
                    box-shadow: 0 0 40px 32px rgb(0 0 0 / 40%);
                    padding: 1.875rem 2.5rem 0.9375rem;
                    position: relative;
                    border-radius: 3.125rem 0 3.125rem 0;
                    .wp-block-search__button{
                        @include button;
                        margin-bottom: 0;
                        min-width: unset !important;
                        width: auto;
                    }
                }
            }
        }
        .post-wrap{
            max-width: 940px;
            margin: 0 auto;
            .blog-post{
                padding: 20px;
            }
            p{
                font-size: 1.125rem;
                line-height: 1.6875rem;
            }
        }
    }
    .blog-pagination{
        @include center;
        padding: 20px 40px;
        margin-top: 3.75rem;
        .nav-links{
            display: flex;
            justify-content: center;
            font-size: 1.25rem;
            position: relative;
            &:after{
                background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M58.6347 25.2102C60.4145 21.5162 61.2958 16.7366 59.9866 10.6849C59.914 10.3492 59.6515 10.0873 59.3164 10.0147C53.2652 8.7067 48.4849 9.58866 44.7909 11.3685C43.4378 7.49766 40.6807 3.49372 35.4743 0.139161C35.1856 -0.0463871 34.8158 -0.0463871 34.5264 0.139161C29.3213 3.49247 26.5649 7.49579 25.2111 11.3661C21.5171 9.58627 16.7375 8.70502 10.685 10.0148C10.3493 10.0874 10.0874 10.3499 10.0148 10.685C8.70557 16.7372 9.58693 21.517 11.3668 25.2109C7.49635 26.5647 3.49299 29.3211 0.139163 34.5261C-0.0463877 34.8142 -0.0463877 35.1853 0.139163 35.474C3.49314 40.6797 7.49651 43.4361 11.3668 44.7892C9.58687 48.4832 8.7056 53.2628 10.0148 59.3152C10.0874 59.6508 10.3499 59.9127 10.685 59.9853C12.6907 60.4193 14.5548 60.6128 16.2875 60.6128C19.7855 60.6122 22.7396 59.8218 25.2103 58.6315C26.5635 62.5029 29.3205 66.5069 34.5269 69.8614C34.671 69.9536 34.8358 70 35.0005 70C35.1653 70 35.3302 69.9536 35.4742 69.8608C40.6805 66.5069 43.437 62.503 44.7902 58.6321C47.2608 59.8223 50.2151 60.6128 53.713 60.6128C55.4452 60.6128 57.3111 60.4193 59.3155 59.9853C59.6512 59.9127 59.913 59.6503 59.9857 59.3152C61.2949 53.2636 60.4135 48.4838 58.6337 44.7899C62.5041 43.4361 66.5075 40.6791 69.8608 35.474C70.0464 35.1859 70.0464 34.8148 69.8608 34.5261C66.5081 29.3205 62.5054 26.5634 58.6343 25.2103L58.6347 25.2102ZM58.3905 11.6102C59.4654 17.0967 58.6212 21.4022 56.9916 24.7152C51.9854 23.4365 47.399 24.316 44.9991 25.0014C45.6845 22.6015 46.5635 18.0146 45.2848 13.0085C48.5978 11.3788 52.9034 10.5354 58.3905 11.6102ZM46.6703 35.7276C46.7581 35.7874 46.8546 35.8301 46.9553 35.8545C47.8373 36.2244 52.9045 38.5268 56.1406 43.7562C50.1547 45.1655 44.9435 43.2105 44.0585 42.8486C43.8241 42.707 43.5263 42.6764 43.2559 42.7949C43.1503 42.8406 43.0587 42.9053 42.9824 42.9822C42.9049 43.0585 42.8408 43.1501 42.7951 43.2557C42.6779 43.5261 42.7072 43.8233 42.8488 44.0583C43.2113 44.9433 45.1663 50.1552 43.7564 56.1409C38.4786 52.8743 36.1812 47.7405 35.8448 46.9307C35.8186 46.8385 35.7777 46.7506 35.7227 46.6694C35.3974 46.1915 34.5972 46.1915 34.2719 46.6694C34.2121 46.7573 34.1693 46.8538 34.1449 46.9545C33.7757 47.837 31.4739 52.9048 26.2449 56.1409C24.8215 50.0984 26.826 44.8451 27.1611 44.034C27.2075 43.9503 27.241 43.8588 27.2594 43.7624C27.3131 43.4785 27.2191 43.1819 27.0146 42.9774C26.8101 42.7724 26.5184 42.6826 26.2333 42.7363C26.129 42.7559 26.0301 42.7943 25.9422 42.848C25.0559 43.2112 19.8458 45.1643 13.8619 43.7556C17.1285 38.4779 22.2599 36.1806 23.0699 35.8442C23.1621 35.8179 23.25 35.777 23.3312 35.7221C23.5698 35.5591 23.7133 35.2832 23.7133 34.9939C23.7133 34.7046 23.5704 34.4336 23.3312 34.2713C23.2433 34.2115 23.1468 34.1687 23.0461 34.1443C22.1642 33.7744 17.0969 31.4721 13.8608 26.2433C19.9022 24.8206 25.1549 26.825 25.9662 27.1607C26.0498 27.2071 26.1414 27.2406 26.2378 27.2589C26.5235 27.3114 26.8189 27.2187 27.0227 27.0142C27.2272 26.8097 27.3175 26.5174 27.2638 26.2329C27.2443 26.1286 27.2058 26.0297 27.1521 25.9418C26.789 25.0562 24.8346 19.8449 26.2439 13.8598C31.5223 17.1264 33.8191 22.2596 34.1555 23.0694C34.1817 23.1616 34.2226 23.2495 34.2776 23.3307C34.6029 23.8086 35.4031 23.8086 35.7284 23.3307C35.7882 23.2428 35.831 23.1463 35.8554 23.0456C36.2253 22.1637 38.527 17.0965 43.7558 13.8604C45.1786 19.9023 43.1742 25.155 42.8391 25.9663C42.7927 26.0499 42.7591 26.1415 42.7408 26.2379C42.6871 26.5217 42.7811 26.8183 42.9856 27.0228C43.19 27.2273 43.483 27.3188 43.7668 27.2639C43.8712 27.2444 43.9701 27.2059 44.058 27.1522C44.943 26.789 50.1544 24.8347 56.1395 26.244C52.9033 31.4729 47.836 33.7758 46.9541 34.1456C46.8534 34.17 46.757 34.2128 46.6691 34.2726C46.4305 34.4355 46.287 34.7065 46.287 34.9952V35.0056C46.2882 35.2937 46.4316 35.5646 46.6703 35.7276ZM35.0006 1.92105C39.6412 5.04186 42.0875 8.68377 43.2778 12.1793C38.8343 14.8148 36.2128 18.6784 35.0006 20.8592C33.7884 18.6778 31.1669 14.8124 26.7228 12.1763C27.9136 8.68205 30.3612 5.04061 35.0006 1.92105ZM11.6111 11.6093C17.0982 10.5332 21.4031 11.3785 24.7162 13.0082C23.4375 18.0143 24.317 22.6006 25.0024 25.0005C22.6025 24.3144 18.0162 23.4355 13.01 24.7142C11.3803 21.4019 10.5368 17.0963 11.6111 11.6093ZM1.92272 34.9985C5.04294 30.358 8.68427 27.9117 12.1793 26.7214C14.8149 31.1649 18.6798 33.7863 20.8611 34.9985C18.6796 36.2107 14.8149 38.8321 12.1793 43.2756C8.68443 42.0854 5.04294 39.6379 1.92272 34.9985ZM11.6111 58.3878C10.5362 52.9007 11.3815 48.5958 13.0112 45.2828C18.0168 46.5609 22.6025 45.6814 25.0024 44.9966C24.317 47.3971 23.4374 51.984 24.7168 56.9907C21.4044 58.6198 17.0982 59.4632 11.6111 58.3878ZM35.0006 68.076C30.3582 64.9546 27.9119 61.3108 26.7223 57.8147C31.164 55.1785 33.7892 51.3187 35.0006 49.1379C36.2128 51.3193 38.8374 55.1804 43.2796 57.8159C42.09 61.312 39.6424 64.9547 35.0006 68.076ZM58.3902 58.3878C52.903 59.4645 48.5975 58.6197 45.2844 56.9895C46.5632 51.9833 45.6842 47.3964 44.9988 44.9965C47.3993 45.6832 51.9857 46.5622 56.9912 45.2834C58.621 48.5958 59.4644 52.9013 58.3902 58.3878ZM57.8226 43.2759C55.1864 38.832 51.3216 36.2104 49.1402 34.9982C51.3216 33.786 55.1864 31.1646 57.8226 26.7205C61.3175 27.9107 64.9583 30.3588 68.0786 34.9982C64.959 39.6381 61.3175 42.0856 57.8226 43.2759Z' fill='%23E2CB80'/%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
                color: $action2;
                content: '';
                height: 25px;
                width: 25px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                @include phone{
                    display: none;
                }
            }
            a{
                color: $text_color;
                font-family: $font2;
                font-weight: 500;
                padding: 0.5rem;
                font-size: 1rem;
                letter-spacing: .14em;
                text-transform: uppercase;
                text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
            }
            .nav-previous {
                display: flex;
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translateY(-50%);
                margin-right: 37px;
                @include phone{
                    margin-right: 7px;
                    position: unset;
                }
                a{
                    display: flex;
                    align-items: center;
                    padding: 0;
                    &:before{
                        color: $action1;
                        content: "";
                        display: block;
                        background-image: url("data:image/svg+xml,%3Csvg width='174' height='99' viewBox='0 0 174 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1038_1126)'%3E%3Cpath d='M125.41 19.8003L95.8 49.4103L125.41 79.0203L125.41 98.8203L5.89208e-07 49.4103L125.41 0.000314301L125.41 19.8003ZM90.15 49.4103L121.42 18.1403L121.42 5.87032L10.91 49.4103L121.41 92.9403L121.41 80.6803L90.14 49.4103L90.15 49.4103Z' fill='%23E2CB80'/%3E%3Cpath d='M173.33 49.4103L140.17 82.5703L107.01 49.4103L140.17 16.2503L173.33 49.4103ZM140.17 76.9103L167.67 49.4103L140.17 21.9103L112.67 49.4103L140.17 76.9103Z' fill='%23E2CB80'/%3E%3Cpath d='M132.23 49.4101L104.52 77.1201L76.8096 49.4101L104.52 21.7001L132.23 49.4101ZM104.52 74.2901L129.4 49.4101L104.52 24.5301L79.6396 49.4101L104.52 74.2901Z' fill='%23E2CB80'/%3E%3Cpath d='M126.24 43.8301L126.24 45.8301L165.32 45.8301L165.32 43.8301L126.24 43.8301Z' fill='%23E2CB80'/%3E%3Cpath d='M126.24 52.9902L126.24 54.9902L165.32 54.9902L165.32 52.9902L126.24 52.9902Z' fill='%23E2CB80'/%3E%3Cpath d='M82.8 43.8301L82.8 45.8301L43.85 45.8301L35.96 37.9501L37.38 36.5301L44.67 43.8301L82.8 43.8301Z' fill='%23E2CB80'/%3E%3Cpath d='M82.8 52.9905L82.8 54.9905L44.67 54.9905L37.38 62.2905L35.96 60.8805L43.85 52.9905L82.8 52.9905Z' fill='%23E2CB80'/%3E%3Cpath d='M87.7498 38.8804L87.7498 40.8804L52.6198 40.8804L46.5898 34.8504L47.9998 33.4304L53.4398 38.8804L87.7498 38.8804Z' fill='%23E2CB80'/%3E%3Cpath d='M87.7498 57.9501L87.7498 59.9501L53.4398 59.9501L47.9998 65.3901L46.5898 63.9801L52.6198 57.9501L87.7498 57.9501Z' fill='%23E2CB80'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1038_1126'%3E%3Crect width='98.82' height='173.33' fill='white' transform='translate(0 98.8203) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-size: contain;
                        font-size: 1.125rem;
                        width: 60px;
                        height: 30px;
                        padding-left: 0.9375rem;
                        float: left;
                        margin: 0;
                    }
                    &:hover{
                        color: $link_hover;
                    }
                }
            }
            .nav-next {
                display: flex;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 40px;
                @include phone{
                    margin-left: 10px;
                    position: unset;
                }
                a{
                    display: flex;
                    align-items: center;
                    padding: 0rem;
                    &:after{
                        color: $action1;
                        content: "";
                        display: block;
                        background-image: url("data:image/svg+xml,%3Csvg width='174' height='99' viewBox='0 0 174 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1038_1126)'%3E%3Cpath d='M125.41 19.8003L95.8 49.4103L125.41 79.0203L125.41 98.8203L5.89208e-07 49.4103L125.41 0.000314301L125.41 19.8003ZM90.15 49.4103L121.42 18.1403L121.42 5.87032L10.91 49.4103L121.41 92.9403L121.41 80.6803L90.14 49.4103L90.15 49.4103Z' fill='%23E2CB80'/%3E%3Cpath d='M173.33 49.4103L140.17 82.5703L107.01 49.4103L140.17 16.2503L173.33 49.4103ZM140.17 76.9103L167.67 49.4103L140.17 21.9103L112.67 49.4103L140.17 76.9103Z' fill='%23E2CB80'/%3E%3Cpath d='M132.23 49.4101L104.52 77.1201L76.8096 49.4101L104.52 21.7001L132.23 49.4101ZM104.52 74.2901L129.4 49.4101L104.52 24.5301L79.6396 49.4101L104.52 74.2901Z' fill='%23E2CB80'/%3E%3Cpath d='M126.24 43.8301L126.24 45.8301L165.32 45.8301L165.32 43.8301L126.24 43.8301Z' fill='%23E2CB80'/%3E%3Cpath d='M126.24 52.9902L126.24 54.9902L165.32 54.9902L165.32 52.9902L126.24 52.9902Z' fill='%23E2CB80'/%3E%3Cpath d='M82.8 43.8301L82.8 45.8301L43.85 45.8301L35.96 37.9501L37.38 36.5301L44.67 43.8301L82.8 43.8301Z' fill='%23E2CB80'/%3E%3Cpath d='M82.8 52.9905L82.8 54.9905L44.67 54.9905L37.38 62.2905L35.96 60.8805L43.85 52.9905L82.8 52.9905Z' fill='%23E2CB80'/%3E%3Cpath d='M87.7498 38.8804L87.7498 40.8804L52.6198 40.8804L46.5898 34.8504L47.9998 33.4304L53.4398 38.8804L87.7498 38.8804Z' fill='%23E2CB80'/%3E%3Cpath d='M87.7498 57.9501L87.7498 59.9501L53.4398 59.9501L47.9998 65.3901L46.5898 63.9801L52.6198 57.9501L87.7498 57.9501Z' fill='%23E2CB80'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1038_1126'%3E%3Crect width='98.82' height='173.33' fill='white' transform='translate(0 98.8203) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-size: contain;
                        font-size: 1.125rem;
                        width: 60px;
                        height: 30px;
                        float: right;
                        margin: 0 6px 0 0;
                        padding-right: 0.9375rem;
                        transform: rotate(180deg);
                    }
                    &:hover{
                        color: $link_hover;
                    }
                }
            }
        }
    }
    .tbd-subscribe-cta{
        margin-top: 80px;
    }
}